body{
	background:white;
}

/* .header{
	border-bottom:3px #ccc solid;
} */

.social{
	float:right;
	padding-top:25px;
}

.social img{
	width:40px;
}
/* body{
	background:#f4f4f4;
} */

/* .header{
	border-bottom:3px #ccc solid;
} */

/* .social{
	float:right;
	padding-top:25px;
}

.social img{
	width:40px;
} */

.slider{
    margin-top: 30px;
}

.boxes{
	text-align: center;
}

.boxes i {
	font-size: 75px;
	text-align: center;
	margin:auto;
	display:block;
}

footer{
	background:#333;
	color:#fff;
	text-align: center;
	height:60px;
	padding-top:20px;
}

.gallery li{
	width: 32%;
	margin-bottom: 30px;
	margin-top: 30px;
}

.logo{
	padding-top: 15px;
}